/* App.css */
.app {
  display: flex;
}

/* .sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  height: 100vh;
} */

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1; /* 메인 컨텐츠 배경 색상 */
}

