.post-detail {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.post-title {
    font-size: 24px;
    color: #333;
    margin: 0;
    font-weight: bold;
}

.post-date {
    font-size: 14px;
    color: #777;
}

.post-likes {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.post-photos {
    margin-bottom: 20px;
}

.post-photos img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-comments {
    margin-top: 24px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.post-comments h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: #333;
}

.post-comments ul {
    list-style-type: none;
    padding-left: 0;
}

.post-comments li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.comment-buttons {
    display: flex;
    gap: 5px ; 
    position: absolute;
    right: 10px; /* 오른쪽에 고정 */
    top: 50%;
    transform: translateY(-50%); 
}

.post-comments button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.2s ease;
}

.post-comments button:hover {
    color: #0056b3;
}

.add-comment {
    margin-top: 20px;
}

.add-comment textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: vertical;
    margin-bottom: 10px;
}

.add-comment button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    text-align: center;
}

.add-comment button:hover {
    background-color: #0056b3;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.post-footer button {
    padding: 10px 20px;
    background-color: #444
}
