/* Sidebar Container */
.sidebar {
    width: 250px;
    background-color: #ffffff; /* White background for the sidebar */
    border-right: 1px solid #e6e6e6; /* Light grey border */
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Logo Section */
.sidebar .logo {
    margin-bottom: 20px;
}

.sidebar .logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #262626; /* Dark grey color for text */
    margin: 0;
}

/* Navigation */
.sidebar nav {
    flex: 1;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a,
.sidebar nav ul li button {
    text-align: left;
    text-decoration: none;
    color: #262626;
    background-color: #ffffff;
    display: block;
    padding: 10px;
    width: 90%;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li button:hover {
    text-decoration: none;
    
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #0095f6; /* Instagram blue color on hover */
    border : none;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 20px;
    color: #262626;
}

.modal-content button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #262626;
}

