/* ChatRoom.css */

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 100px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
}

.my-message {
    background-color: #d1e7dd; /* 현재 사용자 메시지 색상 */
    align-self: flex-end; /* 오른쪽 정렬 */
}

.other-message {
    background-color: #f8d7da; /* 다른 사용자 메시지 색상 */
    align-self: flex-start; /* 왼쪽 정렬 */
}

.message-content {
    display: flex;
    flex-direction: column;
}

.text-input {
    width: calc(100% - 60px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    width: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}
