/* 전체 컨테이너 */
.join-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* 제목 스타일 */
.join-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* 폼 스타일 */
form {
    width: 100%;
}

/* 입력 필드와 오류 메시지의 컨테이너 스타일 */
.form-group2 {
    margin-bottom: 20px; /* 각 입력 필드와 오류 메시지 간의 간격 */
    width: 100%;
    position: relative; /* 오류 메시지 위치 조정을 위한 상대 위치 설정 */
}

/* 입력 필드 스타일 */
.form-group2 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.form-group2 input:focus {
    border-color: #007bff;
    outline: none;
}

/* 오류 메시지 스타일 */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

/* 버튼 스타일 */
button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button {
    background-color: #f1f1f1;
    color: #333;
    margin-right: 10px;
}

.join-button:hover {
    background-color: #e0e0e0;
}

.home-button {
    background-color: #f1f1f1;
    color: #333;
}

.home-button:hover {
    background-color: #e0e0e0;
}

.login-container2 {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-top: 20px;
    gap: 5px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    background-color: #f9f9f9; /* 로그인 컨테이너와 동일한 배경 색상 */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 로그인 컨테이너와 동일한 그림자 효과 */
}

.login-container2 span {
    line-height: 1.5; /* 텍스트의 줄 높이 조정 */
}

.login-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: none; /* 배경 박스를 없앰 */
    color: #007bff; /* 파란색 텍스트 */
    text-decoration: none; /* 밑줄 제거 */
    line-height: 1.5; /* 버튼의 줄 높이 조정 */
    white-space: nowrap; /* 줄 바꿈 방지 */
}

.login-button:hover {
    color: #66b3ff; /* 연한 하늘색으로 변경 */
    cursor: pointer; /* 마우스 포인터가 손 모양으로 변경 */
}



/* 모바일 대응 */
@media (max-width: 600px) {
    .join-container {
        padding: 10px;
    }

    .form-group input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}